@font-face {
    font-family: 'Bebas Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueRegular.eot');
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueRegular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueRegular.woff') format('woff'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueLight.eot');
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueLight.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueLight.woff') format('woff'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueBook.eot');
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueBook.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueBook.woff') format('woff'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeue-Thin.eot');
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeue-Thin.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeue-Thin.woff') format('woff'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueBold.eot');
    src: url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueBold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueBold.woff') format('woff'),
        url('https://raw.githubusercontent.com/thebartyparty/bebas-neue-webfont/master/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

